body{
  padding-top:40px;
  word-wrap:break-word;
  background: url('img/beans.jpg') center;
}
img{
  height: 200px;
}
.jumbotron{
  background-color: rgba(0,0,0,0);
  margin-top: 110px;
  padding-bottom: 10px;
}
.jumbotron h1{
  color: white;
}
.title{
  border: 3px solid white;
  text-shadow: 5px 4px 2px #000000;
  padding: 14px;
  color: white;
  background-color: rgba(0,0,0,0.4);
}
/******* Orders ******/
.white-text{
  color: white;
  margin-top: 10px;
}
.text-size{
  font-size: 1.3em;
}
.btn-default{
  color: white;
  background-color: rgba(0,0,0,.4);
  border-color: white;
  padding: 6px;
  width: 138px;
  border-radius: 0;
}
.lists{
  width: 48%;
  display: inline-block;
  border: 1px solid white;
  height: 154px;
  overflow-y: auto;
  background-color: rgba(0,0,0,.4);
  padding-left: 15px;
}
.marginTop{
  margin-top: 23px;
}
.login{
  float: right;
  margin-right: 2%;
}

ul li{
  list-style: none;
}
